{
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true,
    "fetch": true
  },
  "root": true,
  "rules": {
    "babel/no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0,
    "class-methods-use-this": 0,
    "global-require": 0,
    "max-len": [
      2,
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "object-curly-spacing": 0,
    "camelcase": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-undef": "error",
    "consistent-return": 1,
    "no-shadow": 0,
    "no-return-assign": 0,
    "new-cap": 0,
    "no-mixed-operators": 0,
    "jest/no-disabled-tests": 1,
    "jest/no-focused-tests": 2,
    "jest/no-identical-title": 2,
    "jest/prefer-to-have-length": 1,
    "jest/valid-expect": 2
  }
}
